<% include _header %>
    <div class="container">
      <div class="row">
        <div class="card col-12 col-lg-12">
          <div class="row">
            <div class="space-after"></div>
          </div>

          <!-- TOP SECTION -->
          <div class="row">
            <div class="col-lg-1 d-none d-sm-none d-md-none d-lg-block d-xl-block"></div>
            <div class="col-12 col-sm-12 col-md12 col-lg-10 col-xl-10">
            <!-- HEADER -->

                <!-- TITLE -->
                <div class="row">
                  <p class="title text-center col-12">
                    Hey, <span id="display-name"></span>!
                  </p>
                </div>
                <div class="row">
                  <p class="title text-center col-12">
                    Welcome to the Spotify Mixer!
                  </p>
                </div>
                <!-- END TITLE -->

                <!-- DESCRIPTION-->
                <div class="row">
                  <p class="description text-center col-12">
                    Select some genres to get started...
                  </p>
                </div>
                <!-- END DESCRIPTION -->

                <!-- GENRES BUTTON -->
                <div class="row">
                  <div class="col-2">
                  </div>
                  <button type="button" class="btn col-8" data-toggle="modal" data-target="#genre-select" onclick="getGenresList();">
                    Choose genres
                  </button>
                  <div class="col-2">
                  </div>
                </div>
                <!-- END GENRES BUTTON -->

              <!-- END HEADER -->

              <div class="row">
                <div class="space-after"></div>
              </div>

              <!-- TRACKS DISPLAY -->
              <div class="row">
                <div class="tracks-box col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div id="tracks-display" class="tracks-display">
                    <!-- <div class="row"> -->
                      <div id="tracks">
                        <div class="row">
                          <div class="col-2">
                          </div>
                          <p class="text-center col-8">
                            Your recommended tracks will display here!
                          </p>
                          <div class="col-2">
                          </div>
                        </div>
                      </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
              <!-- END TRACKS DISPLAY -->
            </div>
          </div>
          <!--  END TOP SECTION -->


          <!-- MODE/TEMPO SECTION -->
          <div class="row">
            <!-- SPACER -->
            <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block col-lg-1 col-xl-1"></div>
            <!-- END SPACER -->

            <!-- GADGET TL -->
            <div class="gadget-box d-none d-sm-none d-md-block d-lg-block d-xl-block col-md-2 col-lg-2 col-xl-2">
              <div class="gadget-tl"></div>
            </div>
            <!-- END GADGET TL -->

            <div class="top-values col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
              <div class="row">
              <!--  MODE SECTION -->
              <div class="top-box col-6 col-sm-4 col-md-5 col-lg-5 col-xl-4">
                <div class="row">
                  <div class="mode-label-box col-12">
                    <div class="mode-label-content">
                      <div class="mode-label text-center">
                        Mode
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="mode-text-box col-12">
                    <div class="row">
                      <div class="col-1" onclick="getRecommendations();">
                        <label class="switch">
                          <input id="mode-value" type="checkbox" checked />
                          <span class="mode-slider round"></span>
                        </label>
                      </div>

                      <div class="col-1">
                      </div>

                      <div class="mode-text col-7" id="mode-text">
                        Minor
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  END MODE SECTION -->

              <!--  TEMPO SECTION -->
              <div class="top-box col-6 col-sm-6 col-md-7 col-lg-7 col-xl-6">
                <!--  TEMPO VALUE -->
                <div class="row">
                  <div class="tempo-value-box col-12">
                    <div class="tempo-content">
                      <div class="tempo-label text-center">
                        Tempo: <span class="tempo-value" id="tempo-value"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END TEMPO VALUE -->

                <!-- TEMPO SLIDER -->
                <div class="row">
                  <div class="tempo-slider-box col-12">
                    <div class="tempo-section">
                      <div class="tempo-slider" id="tempo-slider"></div>
                    </div>
                  </div>
                </div>
                <!-- END TEMPO SLIDER -->

              </div>
              <!--  END TEMPO SECTION -->
              <div class="other-top-box d-none d-sm-block d-md-none d-lg-none d-xl-block col-sm-2 col-xl-2">
                <div class="other-box-container">
                    <div class="other-box">
                    </div>
                </div>
              </div>

              </div>
            </div>
            <!-- GADGET -->
            <div class="gadget-box d-none d-sm-none d-md-block d-lg-block d-xl-block col-sm-2 col-md-2 col-lg-2 col-xl-2">
            </div>
            <!-- END GADGET -->



          </div>
          <!-- END MODE/TEMPO SECTION -->

          <!-- FADERS SECTION -->
          <div class="row">
              <div class="fader-values col-12">
                <div class="row">
                  <!-- SPACER -->
                  <div class="col-lg-1 col-xl-1 d-none d-sm-none d-md-none d-lg-block d-xl-block"></div>
                  <!-- END SPACER -->

                  <!-- GADGET -->
                  <div class="gadget-box col-sm-2 col-lg-1 col-xl-1 d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
                  <!-- END GADGET -->

                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                            <div class="prefs-value text-center" id="popularity-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Popularity</div>
                        </div>
                      </div>

                      <div id="popularity" class="prefs-section">
                        <div class="slider-spacer"></div>
                          <div class="prefs-slider" id="popularity-slider"></div>
                      </div>


                  </div>
                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">
                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="positivity-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Positivity</div>
                        </div>
                      </div>

                      <div id="positivity" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="positivity-slider"></div>
                      </div>

                  </div>
                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="energy-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Energy</div>
                        </div>
                      </div>

                      <div id="energy" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="energy-slider"></div>
                      </div>

                  </div>
                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="acousticness-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Acoustic</div>
                        </div>
                      </div>

                      <div id="acousticness" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="acousticness-slider"></div>
                      </div>

                  </div>

                  <!-- GADGETS -->
                  <div class="gadget-box col-sm-2 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div>
                  <div class="gadget-box col-sm-2 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div>
                  <!-- END GADGETS -->

                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="danceability-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Danceability</div>
                        </div>
                      </div>

                      <div id="danceability" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="danceability-slider"></div>
                      </div>

                  </div>
                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="instrumentalness-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Instrumental</div>
                        </div>
                      </div>

                      <div id="instrumentalness" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="instrumentalness-slider"></div>
                      </div>

                    </div>
                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="liveness-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Liveness</div>
                        </div>
                      </div>

                      <div id="liveness" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="liveness-slider"></div>
                      </div>

                  </div>
                  <div class="box col-3 col-sm-2 col-md-2 col-lg-1">

                      <div class="value-box">
                        <div class="value-content">
                          <div class="prefs-value text-center" id="speechiness-value"></div>
                        </div>
                      </div>

                      <div class="label-box">
                        <div class="label-content">
                          <div class="prefs-label text-center">Speechiness</div>
                        </div>
                      </div>

                      <div id="speechiness" class="prefs-section">
                        <div class="slider-spacer"></div>
                        <div class="prefs-slider" id="speechiness-slider"></div>
                      </div>
                  </div>
                  <!-- GADGET -->
                  <div class="gadget-box col-sm-2 col-lg-1 col-xl-1 d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
                  <!-- END GADGETS -->
                </div>
              </div>
            </div>
            <!-- END FADERS SECTION -->
            <div class="space-after"></div>
            <!-- SUBMIT PANE -->
            <div class="row">
              <div class="col-12">
                <!-- ADD BUTTON -->
                <div class="row">
                  <div class="col-2">
                  </div>
                    <button class="tracks-button btn col-8" id="tracks-button" type="submit" data-toggle="modal" data-target="#playlist-prompt">
                      Add tracks!
                    </button>
                  <div class="col-2">
                  </div>
                </div>
                <!--  END ADD BUTTON -->
              </div>
            </div>
            <!-- END SUBMIT PANE -->
          </div>
          <!--  BOTTOM OF CARD -->
        </div>
      </div>

        <!--  MODALS -->
          <!-- GENRE MODAL -->
          <div class="modal genre-modal fade text-center" id="genre-select">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">

                <div class="modal-header">
                  <h4 class="modal-title">Select genres</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <p class="text-center">
                    Make sure you hit okay when you're all done!
                  </p>
                  <div id="genres-list" data-toggle="buttons">
                  </div>
                </div>

                <div class="modal-footer">
                  <div class="col-3"></div>
                  <button type="button" class="btn col-6" data-dismiss="modal" onclick="getRecommendations();">Okay!</button>
                  <div class="col-3"></div>
                </div>

              </div>
            </div>
          </div>
          <!--  END GENRE MODAL -->

          <!-- PLAYLIST NAME MODAL -->
          <div class="modal fade" id="playlist-prompt">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    <p class="text-center">
                      Give your playlist a name?
                    </p>
                  </h4>
                </div>
                <form>
                  <div class="modal-body">
                    <p>You don't have to name your playlist, but it'd be a lot cooler if you did...</p>
                    <div class="form-group">
                      <label for="playlist-name"></label>
                      <input type="text" class="form-control" id="playlist-name" placeholder="Playlist Name" onkeydown = "if (event.keyCode == 13) {
                        document.getElementById('submit-button').click(); alert('Thanks! Head over to Spotify to check out your playlist...'); }" >
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="submit-button" type="button" class="btn" data-dismiss="modal" data-toggle="modal" data-target="#success-prompt" onclick="makePlaylist();">Make your playlist!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- END PLAYLIST NAME MODAL -->

          <!--  SUCCESS MODAL -->
          <div class="modal fade" id="success-prompt">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">
                    <p class="text-center">Success!</p>
                  </h4>
                </div>
                <form>
                  <div class="modal-body">
                    <p>
                      New playlist created! Head over to Spotify to check it out...
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" onclick="refresh();">Thank you!</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--  END SUCCESS MODAL -->
        <!--  END MODALS-->
<% include _footer %>
